*{
    /* background-color: rgb(245, 231, 231); */
    align-items: center;
    text-align: center;
    display: inline;
    margin: 0px;
    padding: 0px;
    
}

body{
    background-image: url("bg.png");
    background-repeat: no-repeat;
}


.h11{
    text-align: center;
    display: block;
    margin: 30px;
    
}

.image{
    
   
   
   margin-top: 6%;
    padding: 0%;
    width: 75%;
    height: 40%;
    max-width : 500px;
    max-height:500px; 
    margin-top : 80px;
    border-radius : 28px;

}

.street{
    align-self: auto;
    height: 30px;
    width: 50%;
    /* margin-bottom: 20px; */
    margin-left: 20px;
    text-align: left;
    border-radius: 10px;
    position: relative;
    right: 10px;
   
}
.div{
    display: block;
    margin-top: 4%;
    margin: 20px;
}

.msubmit {
    display: block;
    text-align: center;
    background-color: rgba(202, 1, 55, 0);
    z-index: 5;
    /* height: 200; */
    margin-bottom: 2%;
    
    
} 

.submit {
    position:absolute;
    left: 44%;
    right: 44%;
    display: block;
    /* margin: 40px; */
    /* margin-left: 10px; */
    width: 12%;
    height: 3%;
    min-height: 52px;
    min-width: 100px;
    border-radius: 20px;
    border: solid;
    border-color: black;
    
    margin-bottom:30%;
    margin-top: 2.5%;
    margin-top: 100px
}

.download{
    /* position: absolute;
    left: 50%;
    right: 50%; */
    display: inline;
    min-width: 100px;
    min-height: 40px;
    width: 20%;
    height: 5%;
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(25, 0, 148, 0.667);
   color: aqua;
   border: solid 3px white;
   margin: 3%;
}

.text{
    padding: 0;
   background-color:none;
   font-size: large;
   font-weight: 700;
}

.mdownload{
   text-align: center;
   display: block;
}

.download:hover{
    border: solid 5px rgb(230, 179, 179);
}


.street:hover{
    border: solid 5px black;
}

@media screen {
    
}
